---
import Layout from '../layouts/Layout.astro';
import CheckoutOrder from '@components/Checkout/CheckoutOrder';
---

<Layout title="Librería Alfa">
  <main class="max-w-[1024px] mx-auto relative p-4">
    <CheckoutOrder client:only />
  </main>
</Layout>
