---
import '@styles/glide.core.min.css';
import '@styles/glide.css';
import Layout from '../layouts/Layout.astro';
import Hero from '@components/Hero/Hero.astro';
import Carousel from '@components/Carousel/Carousel.astro';
import Subscription from '@components/Subscription/Subscription.astro';
import InstagramPosts from '@components/InstagramPosts/InstagramPosts.astro';
---

<Layout title="Librería Alfa">
  <Hero />

  <div class="bg-slate-50">
    <Carousel section="new" />
  </div>
  <div class="py-20">
    <InstagramPosts />
  </div>

  <Subscription />
</Layout>

<style>
  main {
    margin: auto;
    /* padding: 1rem; */
    /* width: 800px; */
    /* max-width: calc(100% - 2rem); */
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
