---
import ProductCard from '@components/ProductCard/ProductCard.astro';

import { getProdsLib } from '@services/products';

interface Props {
  section?: string;
  category?: string;
}

const { section, category } = Astro.props;

const resp = await getProdsLib();
const products = resp.filter(
  (prod) =>
    prod.category === category ||
    (prod.sections.includes(section) && prod.status === 'active')
);
---

<section class="max-w-[1024px] mx-auto">
  <h2 class="p-2 text-3xl text-center">Novedades</h2>

  <div class="px-4 lg:px-16 w-full mx-auto pt-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {products.map((prod) => <ProductCard prod={prod} />)}
    </div>
  </div>
</section>
