---
import SocialNetworks from '../SocialNetworks/SocialNetworks.astro';
import { Icon } from 'astro-icon';
---

<footer class="w-full bg-slate-950 text-white">
  <div
    class="flex flex-col h-full lg:flex-row lg:justify-around justify-center items-start p-10 gap-8 max-w-[1600px] mx-auto"
  >
    <div
      class="place-self-center text-center w-full h-[200px] lg:w-1/3 flex flex-col justify-center items-center gap-4 border-b lg:border-r lg:border-b-0 pb-8"
    >
      <a href="#">
        <h3
          class="text-slate-200 text-3xl font-semibold font-dancing -rotate-12"
        >
          Librería Alfa
        </h3>
      </a>
      <Icon
        name="logo"
        class="w-16 h-16 text-primary"
      />
      <div class="">
        <h2 class="pb-4 text-center text-xl font-semibold">SIGUENOS</h2>
        <SocialNetworks />
      </div>
    </div>

    <div
      class="flex flex-col items-center h-[200px] gap-2 w-full lg:w-1/3 border-b lg:border-b-0 pb-8"
    >
      <h2 class="pb-4 text-center text-xl font-semibold">SOBRE NOSOTROS</h2>
      <p>
        Librería Alfa es un referente en suministros de librería. Ofrecemos una
        amplia gama de productos de calidad para satisfacer las necesidades de
        nuestros clientes, respaldados por un compromiso de excelencia.
      </p>
    </div>

    <div
      class="flex flex-col items-center gap-4 w-full h-[200px] lg:w-1/3 lg:border-l pb-8"
    >
      <div class="h-full">
        <h2 class="pb-4 text-center text-xl font-semibold">LINKS UTILES</h2>

        <p class="">¿Cómo comprar?</p>
        <p class="pt-4">¿Cómo enviar impresiones?</p>
        <p class="pt-4">Políticas de privacidad</p>
        <p class="pt-4">Contacto</p>
      </div>
    </div>
  </div>

  <div class="bg-slate-900">
    <div class="text-center p-1 max-w-[1600px] mx-auto">
      <small
        >&copy; 2023 <b>Librería Alfa</b> - Todos los derechos reservados.</small
      >
    </div>
  </div>
</footer>

<style>
  .spinner-btn {
    pointer-events: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spinner 1s ease-out infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
