---
import Menu from '@components/Menu/Menu.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Astro description"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/libreria-alfa/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <Menu />
    <slot />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      html {
        font-family: system-ui, sans-serif;
      }

      .field {
        position: relative;
        display: flex;
        flex-flow: column-reverse;
        margin-bottom: 0.5rem;
      }

      .field label,
      .input__field {
        transition: all 0.3s;
      }

      .field label {
        width: fit-content;
        font-size: 14px;
        color: #334155;
        padding: 0 2px;
        background-color: transparent;
      }

      .input__field:placeholder-shown + label {
        cursor: text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform: translate(0.8rem, calc(0.5rem + 1.3rem));
      }

      ::-webkit-input-placeholder {
        opacity: 0;
        transition: inherit;
      }

      .input__field:focus::-webkit-input-placeholder {
        opacity: 0.3;
        color: #fff;
      }

      .input__field:not(:placeholder-shown) + label,
      .input__field:focus + label {
        transform: translate(0.4rem, 0rem);
        cursor: pointer;
      }
      .has__error {
        border-color: #c00;
      }
      .span__error {
        text-align: left;
        width: 91.666667%;
        border-radius: 0.25rem;
        font-size: 0.875rem;
        color: #c00;
        display: block;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 1000ms;
        opacity: 1;
      }

      .error__msg {
        opacity: 0;
      }

      .error__field {
        position: relative;
        height: 1rem;
      }
    </style>
  </body>
</html>
