<div>
  <h2 class='text-center text-2xl'>Publicaciones Instagram</h2>
</div>

<script>
  import { getInstagramPosts } from '../../services/instagramPosts';
  
  const instagramPosts = await getInstagramPosts();

  // console.log("Posts!!!", instagramPosts);

</script>